#HnFU-FoundUsers {
	position: fixed;
	right: 0;
	top: 30%;
	width: 250px;
	margin-right: -240px;
	padding: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #ff6600;
	color: #000000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-transition: margin-right 200ms linear;
}

#HnFU-FoundUsers:hover {
	margin-right: 0;
	-webkit-transition: all 500ms linear;
}

#HnFU-FoundUsers h1 {
	font-size: 14px;
	margin-top: 0;
}

#HnFU-FoundUsers div {
}

#HnFU-FoundUsers div a {
	display: inline;
	text-decoration: underline;
}

#HnFU-FoundUsers a {
	display: block;
	color: white;
}

#HnFU-FoundUsers a:hover {
	text-decoration: underline;
}
a.HnFU-User {
	padding: 1px;
	border-radius: 3px;
}

#HnFU-OptionsLinkContainer {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 15px;
	height: 15px;
	background-color: #f6f6ef;
	border-top-right-radius: 10px;
}

#HnFU-OptionsLink {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url('chrome-extension://jfgfipckhgdcnmfjmclndjdgebkbfejl/images/wrench.png');
}